/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  font-family: Georgia, serif;
  background: url(../img/background.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

header {
  font-size: 23px;
  text-transform: uppercase;
  margin: 15px 0px 5px 10px;
  text-align: center;
}

h2 {
  font-size: 25px;
}

button {
  width: 150px;
  padding-bottom: 15%;
  border-radius: 10%;
  border: 5px solid #fff;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-size: 1em;
}

.container {
  position: absolute;
  left: 50px;
}

#wheel {
  -webkit-transform-style: preserve-3d;
  -webkit-animation-timing-function: ease-out;
  -webkit-transition: transform 4s;
  height: 110px;
}

#wheel > :nth-child(odd) {
  background-color: #000;
  color: #fff;
}

#wheel > :nth-child(even) {
  background-color: #fff;
  color: #000
}

/*#wheel div:nth-child(1) {
  transform: rotateX(0deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(2) {
  transform: rotateX(30deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(3) {
  transform: rotateX(60deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(4) {
  transform: rotateX(90deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(5) {
  transform: rotateX(120deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(6) {
  transform: rotateX(150deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(7) {
  transform: rotateX(180deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(8) {
  transform: rotateX(210deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(9) {
  transform: rotateX(240deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(10) {
  transform: rotateX(270deg);
  transform: translateZ(200px);
}

#wheel div:nth-child(11) {
  transform: rotateX(300deg);
}

#wheel div:nth-child(12) {
  transform: rotateX(330deg);
}
*/
.choice {
  position: absolute;
  width: 250px;
  height: auto;
  opacity: 0.8;
  color: rgba(0,0,0,0.9);
  border-radius: 10px;
  font-family: 'Helvetica', sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.spin {
  margin: 180px;
  width: 200px;
  height: 310px;
  float: left;
  position: absolute;
  -webkit-perspective: 800;
  -webkit-transform-style: preserve-3d;
}

.arrow {
  margin-top: 200px;
  left: 530px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
}

#map {
  width: 40%;
  height: 400px;
  margin: 30px;
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid black;
  float: right;
}








